.app-container {
  min-height: 100vh;
  color: #f8fafc;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-smooth: always;
  background: linear-gradient(145deg, #151A30, #2C3E50);
  position: relative;
  overflow: hidden;
}

.glow-circle {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background: radial-gradient(circle, rgba(0, 183, 255, 0.2), rgba(0, 92, 255, 0.05));
  box-shadow: 0 0 40px rgba(0, 183, 255, 0.1),
    0 0 80px rgba(0, 183, 255, 0.08),
    0 0 120px rgba(0, 183, 255, 0.05);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: waveEffect 3s ease-in-out infinite;
}

@keyframes waveEffect {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0.9;
  }

  50% {
    transform: translate(-50%, -50%) scale(1.3);
    opacity: 0.6;
  }

  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0.9;
  }
}
h1 {
  text-align: center;
  color: #1e293b;
  margin-bottom: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

app-graph-view {
  display: block;
  height: calc(100vh - 100px);
  width: 100%;
}

.node-icon {
  font-size: 24px;
  fill: white;
}

.node-label-main {
  font-size: 14px;
  font-weight: bold;
  fill: white;
}

.node-label-sub {
  font-size: 12px;
  fill: #e5e7eb; /* a light gray for sub-text */
}

.link-label {
    fill: #333;
    font-size: 10px;
    font-family: sans-serif;
    text-anchor: middle;
}

.links line {
  stroke-opacity: 0.6;
}

.nodes g:hover {
  cursor: pointer;
}
